main {
    background-color: #fed9d5;
}

span .user-name {
    float: left;
    padding-top: 0.3em;
}

.form-check-label {
    padding-right: 0.3em;
    padding-left: 1.0em;
}

span.partner{
    padding: 1em;
}


#card {
  height: 80vw; /* 50% of the viewport height */
  width: 80vw;
  padding: 0;
}

fieldset {
    padding: 0.3em;
}

#submit-btn {
    padding: 0.3em;
}

.container h1 {
    line-height: 50vh;
    font-size: 100px;
    align-content: space-evenly;
    vertical-align: center;
    padding: 0;
}

#like {
    background-color: green;
    float: right !important;
}

#reject {
    background-color: red;
    float: left;
}
.clearfix::after {
      content: "";
      clear: both;
      display: table;
    }

#heart {
  color: #ffbbbb;
  background-color: currentColor;
  display: inline-block;
  height: 25px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  position: relative;
  left: 42%; top: 3%;
  width: 25px;
}

#heart::before,
#heart::after {
  content: "";
  background-color: currentColor;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;
}

#heart:before {
  top: -12.5px;
  left: 0;
}

#heart:after {
  left: 12.5px;
  top: 0;
}

#heart:active {
  animation: changeColor 1s;
}

@keyframes changeColor {
    0% {
        color: #ffbbbb;
    }

    20% {
        color: red;
    }

    100% {
        color: red;
    }
}

