main {
    background-color: #fed9d5;
}

#create {
    background-color: #fed9d5;
    border: none;
    text-decoration-color: black;
}

#logout {
    background-color: #fed9d5;
    border: none;
    text-decoration-color: black;
}